.cartitem{
    width: 100%;
    padding: 1rem;
    margin-bottom: 8px;
    display: grid;
    /* image, name, price, select, dlt button respectively */
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    gap: 8px;
    background-color: white;
    border-radius: 2px;
    place-items: center;
    
}

.cartitem-name{
    text-decoration: none;
    color: black;

}

.cartitem-name:hover {
  color: purple;
  background-color: antiquewhite;

}

.cartitem-select{
    padding: 6px 9px;
}

.cartitem-deleteBtn{
    padding: 7px 14px;
    color: red;
    background: white;
    border: 1px solid black;
    cursor: pointer;
    transition: all 0.3s ease-out;

}

.cartitem-deleteBtn:hover,
.cartitem-deleteBtn:active,
.cartitem-deleteBtn:focus{
      background: black;
      transform: scale(1.2);
}

@media (max-width: 700px) {
    .cartItem__name {
      font-size: 0.8rem;
    }
  
    /* .cartItem__select,
    .cartItem__deleteBtn {
      padding: 8px 13px;
    } */
  
    .cartitem__price {
      font-size: 0.8rem;
    }
  }

@media (max-width: 500px) {
    .cartItem-name {
      font-size: 0.6rem;
    }
  
    /* .cartItem-select,
    .cartItem-deleteBtn {
      padding: 5px 8px;
    } */
  
    .cartitem-price {
      font-size: 0.6rem;
    }
  }

  